@charset "UTF-8";
/* リキッドレイアウト対応 */

body {
  font-family: "Noto Sans JP", sans-serif;
}

@media only screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 1.2432012432vw;
  }
}
@media (min-width: 1287px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: all;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

html {
  word-wrap: break-word;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#184473), to(#468ea8));
  background: linear-gradient(90deg, #184473 0%, #468ea8 100%);
  z-index: 1000;
  display: grid;
  place-content: center;
}

.loader__logo {
  aspect-ratio: 91/55;
  width: 250px;
  width: 15.625rem;
}

.loader__logo svg * {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.fv__image {
  overflow: hidden;
  position: relative;
  --clip: inset(0% 0% 0% 0%);
}
.fv__image::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#184473), to(#468ea8));
  background: linear-gradient(0deg, #184473 0%, #468ea8 100%);
  -webkit-clip-path: var(--clip);
          clip-path: var(--clip);
}

.fv__image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.rect-1,
.rect-2,
.rect-3 {
  stroke: #184473;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.text,
.text-top {
  opacity: 0;
}

.js-section-title-jp {
  position: relative;
  --clip: inset(0% 100% 0% 0%);
}
.js-section-title-jp::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: -10px;
  top: -0.625rem;
  left: 0;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#184473), to(#468ea8));
  background: linear-gradient(90deg, #184473 0%, #468ea8 100%);
  -webkit-clip-path: var(--clip);
          clip-path: var(--clip);
}

.js-parallax-x {
  overflow: hidden;
}
.js-parallax-x img {
  width: calc(100% + 1.875rem);
  max-width: unset;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  gap: 0.625rem;
  margin-top: 50px;
  margin-top: 3.125rem;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  .button {
    margin-top: 1.875rem;
  }
}
@media (any-hover: hover) {
  .button:hover {
    opacity: 0.7;
  }
}

.button span:first-child {
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .button span:first-child {
    font-size: 0.875rem;
  }
}

.button__icon {
  display: block;
  width: 56px;
  width: 3.5rem;
  height: 56px;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #1d7699;
  position: relative;
}
@media screen and (max-width: 767px) {
  .button__icon {
    width: 2.75rem;
    height: 2.75rem;
  }
}

.button__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 43%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 12px;
  width: 0.75rem;
  height: 12px;
  height: 0.75rem;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: translate(-40%, -50%) rotate(45deg);
          transform: translate(-40%, -50%) rotate(45deg);
}
@media screen and (max-width: 767px) {
  .button__icon::after {
    width: 0.625rem;
    height: 0.625rem;
  }
}

.footer {
  margin-top: -160px;
  margin-top: -10rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(2.813%, #184473), color-stop(49.961%, #20476a), color-stop(97.109%, #225c70));
  background: linear-gradient(90deg, #184473 2.813%, #20476a 49.961%, #225c70 97.109%);
  padding: 260px 0 80px;
  padding: 16.25rem 0 5rem;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 3.75rem 0 3.125rem;
  }
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px;
  gap: 5rem;
}
@media screen and (max-width: 767px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.125rem;
  }
}

.footer__logo {
  width: 150px;
  width: 9.375rem;
  aspect-ratio: 150/90;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 204px;
  gap: 12.75rem;
}
@media screen and (max-width: 767px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5rem;
  }
}

.footer__nav-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
  gap: 2.25rem;
}
@media screen and (max-width: 767px) {
  .footer__nav-column {
    gap: 1.5rem;
  }
}

.footer__nav-title {
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .footer__nav-title {
    font-size: 0.875rem;
  }
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  gap: 0.875rem;
  padding-left: 17px;
  padding-left: 1.0625rem;
}
@media screen and (max-width: 767px) {
  .footer__nav-list {
    padding-left: 0.875rem;
    gap: 0.75rem;
  }
}

.footer__nav-list--single {
  padding-left: 0;
  gap: 20px;
  gap: 1.25rem;
}
@media screen and (max-width: 767px) {
  .footer__nav-list--single {
    gap: 1rem;
  }
}

.footer__nav-link {
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  .footer__nav-link {
    font-size: 0.75rem;
  }
}
@media (any-hover: hover) {
  .footer__nav-link:hover {
    opacity: 0.7;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 25px 10px 25px;
  padding: 0.625rem 25px 0.625rem 25px;
  margin-inline: auto;
}

.header__logo {
  aspect-ratio: 90/54;
  width: 90px;
  width: 5.625rem;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  gap: 2.5rem;
}

.header__nav-link {
  text-align: center;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .header__nav-link:hover {
    opacity: 0.7;
  }
}

.header__nav-link-en {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25;
  color: #fff;
  white-space: nowrap;
  display: block;
}

.header__nav-link-jp {
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  white-space: nowrap;
  display: block;
}

.inner {
  max-width: 1290px;
  max-width: 80.625rem;
  padding: 0 25px;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .inner {
    max-width: 37.5rem;
    padding: 0 20px;
  }
}

.network-animation__group {
  opacity: 0.6;
}

.network-animation__line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.network-animation__dot {
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
  transform-origin: center;
}

.network-animation.is-active .network-animation__line {
  -webkit-animation: drawLine 2s ease-in-out forwards;
          animation: drawLine 2s ease-in-out forwards;
}
@-webkit-keyframes drawLine {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawLine {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fadeInDot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInDot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.network-animation.is-active .network-animation__line:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.network-animation.is-active .network-animation__line:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(6) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.network-animation.is-active .network-animation__line:nth-child(7) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(8) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(9) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(10) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.network-animation.is-active .network-animation__line:nth-child(11) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(12) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(13) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.network-animation.is-active .network-animation__line:nth-child(14) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(15) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(16) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(17) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(18) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(19) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(20) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(21) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(22) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(23) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(24) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(25) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.network-animation.is-active .network-animation__line:nth-child(26) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(27) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.network-animation.is-active .network-animation__line:nth-child(28) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.section-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.section-title__en {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Barlow", sans-serif;
  font-size: 90px;
  font-size: 5.625rem;
  font-weight: 500;
  line-height: 1.2;
  background: -webkit-gradient(linear, left top, right top, from(#184473), to(#468ea8));
  background: linear-gradient(90deg, #184473 0%, #468ea8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media screen and (max-width: 767px) {
  .section-title__en {
    font-size: 3.75rem;
  }
}

.section-title__jp {
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #31363a;
  margin-top: 8px;
  margin-top: 0.5rem;
}
@media screen and (max-width: 767px) {
  .section-title__jp {
    font-size: 0.875rem;
  }
}

.about-page {
  background: -webkit-gradient(linear, left top, left bottom, from(#184473), color-stop(50%, #20476a), to(#225c70));
  background: linear-gradient(to bottom, #184473 0%, #20476a 50%, #225c70 100%);
}

body {
  opacity: 0;
}

.fv {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 750px;
  min-height: 46.875rem;
  overflow: hidden;
  max-height: 850px;
  max-height: 53.125rem;
  margin-bottom: 130px;
  margin-bottom: 8.125rem;
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
}

.fv__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 6.25rem);
  background: -webkit-gradient(linear, left top, right top, color-stop(2.813%, #184473), color-stop(49.961%, #20476a), color-stop(97.109%, #225c70));
  background: linear-gradient(90deg, #184473 2.813%, #20476a 49.961%, #225c70 97.109%);
}

.fv__svg {
  position: absolute;
  top: -67px;
  top: -4.1875rem;
  left: -77px;
  left: -4.8125rem;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  aspect-ratio: 863/416;
  width: 70%;
  z-index: 1;
}

.fv__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1290px;
  max-width: 80.625rem;
  padding: 0 25px;
  margin-inline: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 50px;
  gap: 3.125rem;
  height: 100%;
}

.fv__content {
  margin-bottom: 140px;
  margin-bottom: 8.75rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 20%;
  position: relative;
  z-index: 2;
}

.fv__title {
  font-family: "Outfit", sans-serif, "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 64px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .fv__title {
    font-size: 2.5rem;
  }
}

.fv__title-line {
  display: block;
}

.fv__subtitle {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: #eff6fb;
  margin-top: 10px;
  margin-top: 0.625rem;
}

.fv__images {
  width: 60%;
  gap: 24px;
  gap: 1.5rem;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fv__image--01 {
  aspect-ratio: 418/658;
}

.fv__image--02 {
  aspect-ratio: 418/653;
  -webkit-transform: translateY(-2.3125rem);
          transform: translateY(-2.3125rem);
}

.top-message {
  margin-bottom: 180px;
  margin-bottom: 11.25rem;
}

.top-message__title-wrap {
  margin-bottom: 80px;
  margin-bottom: 5rem;
}

.top-message__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  gap: 3.125rem;
}

.top-message__text-wrap {
  width: 402px;
  width: 25.125rem;
}

.top-message__text {
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: #31363a;
}

.top-message__text:not(:first-child) {
  margin-top: 50px;
  margin-top: 3.125rem;
}

.top-message__images {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.top-message__image--01 {
  margin-left: auto;
  aspect-ratio: 540/405;
  width: 540px;
  width: 33.75rem;
  position: relative;
  z-index: 1;
}

.top-message__image--02 {
  margin-top: -195px;
  margin-top: -12.1875rem;
  aspect-ratio: 357/290;
  width: 357px;
  width: 22.3125rem;
  position: relative;
  z-index: 2;
}

.top-company {
  position: relative;
  margin-bottom: 180px;
  margin-bottom: 11.25rem;
}

.top-company::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -300px;
  top: -18.75rem;
  aspect-ratio: 554/704;
  width: 554px;
  width: 34.625rem;
  background-image: url("../images/top/company-graf.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.top-company__inner {
  position: relative;
  z-index: 2;
}

.top-company__title-wrap {
  margin-bottom: 80px;
  margin-bottom: 5rem;
}

.top-company__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
  gap: 3.75rem;
}

.top-company__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  gap: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 440px;
  width: 27.5rem;
  counter-reset: number 0;
  position: relative;
  z-index: 1;
}

.top-company__list-dec {
  position: absolute;
  bottom: -50px;
  bottom: -3.125rem;
  left: 0;
  aspect-ratio: 640/220;
  width: 640px;
  width: 40rem;
  z-index: 1;
}

.top-company__list-dec rect {
  fill: #b4d5fc;
}

.top-company__item {
  position: relative;
  z-index: 2;
}

.top-company__link {
  padding: 10px 0;
  padding: 0.625rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
  gap: 3.4375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  --before-color: #444950;
  --clip-path: inset(0% 100% 0% 0%);
  -webkit-clip-path: inset(0% 0% 0% 0%);
          clip-path: inset(0% 0% 0% 0%);
  --x: 0%;
  overflow: hidden;
}
.top-company__link::before {
  counter-increment: number 1;
  content: "0" counter(number);
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
  color: var(--before-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
}
.top-company__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#184473), to(#468ea8));
  background: linear-gradient(90deg, #184473 0%, #468ea8 100%);
  z-index: 1;
  -webkit-clip-path: var(--clip-path);
          clip-path: var(--clip-path);
  -webkit-transform: translateX(var(--x));
          transform: translateX(var(--x));
}
.top-company__link span {
  position: relative;
  z-index: 2;
}

.top-company__label {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
  color: #31363a;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

.top-company__arrow {
  display: block;
  width: 18px;
  width: 1.125rem;
  aspect-ratio: 16/11;
  background-color: #444950;
  -webkit-mask-image: url("../images/top/arrow.svg");
          mask-image: url("../images/top/arrow.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

.top-company__image {
  width: 558px;
  width: 34.875rem;
  aspect-ratio: 558/633;
  position: relative;
  z-index: 2;
}

.top-service {
  margin-bottom: 180px;
  margin-bottom: 11.25rem;
}

.top-service__title-wrap {
  margin-bottom: 80px;
  margin-bottom: 5rem;
}

.top-service__tabs {
  gap: 5px;
  gap: 0.3125rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.top-service__tab {
  padding: 24px 30px;
  padding: 1.5rem 1.875rem;
  background-color: #d3e1f0;
  border-radius: 0.625rem 0.625rem 0 0;
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  color: #31363a;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  .top-service__tab {
    font-size: 1rem;
    padding: 1rem 1.25rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
@media (any-hover: hover) {
  .top-service__tab:hover {
    opacity: 0.8;
  }
}

.top-service__tab--active {
  background-color: #184473;
  color: #fff;
}

.top-service__panel {
  display: none;
  background-color: #184473;
  padding: 100px 0;
  padding: 6.25rem 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.top-service__panel--active {
  display: block;
}
.top-service__panel--active .top-service__panel-inner {
  -webkit-animation: fadeIn 0.5s ease-in-out;
          animation: fadeIn 0.5s ease-in-out;
}

.top-service__panel-inner {
  max-width: 1130px;
  max-width: 70.625rem;
  padding: 0 25px;
  margin-inline: auto;
}

.top-service__panel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 70px;
  gap: 4.375rem;
}

.top-service__text-wrap {
  max-width: 485px;
  max-width: 30.3125rem;
}

.top-service__title {
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
}

.top-service__text {
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: #fff;
  margin-top: 50px;
  margin-top: 3.125rem;
}

.top-service__button {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-service__image {
  width: 524px;
  width: 32.75rem;
  aspect-ratio: 524/422;
}

.top-news {
  margin-bottom: 180px;
  margin-bottom: 11.25rem;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .top-news {
    padding: 5rem 0 6.25rem;
  }
}

.top-news__inner {
  max-width: 1100px;
  max-width: 68.75rem;
  padding: 0 25px;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .top-news__inner {
    max-width: 37.5rem;
    padding: 0 20px;
  }
}

.top-news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 160px;
  gap: 10rem;
}

.top-news__texts {
  width: 220px;
  width: 13.75rem;
}

.top-news__title-wrap {
  margin-bottom: 96px;
  margin-bottom: 6rem;
}

.top-news__button .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  gap: 0.625rem;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}
@media (any-hover: hover) {
  .top-news__button .button:hover {
    opacity: 0.7;
  }
}

.top-news__button span:first-of-type {
  color: #31363a;
}

.top-news__list {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.top-news__item {
  border-bottom: 1px solid #a8b2c0;
}

.top-news__item:last-child {
  border-bottom: none;
}

.top-news__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  gap: 1.5rem;
  padding: 30px;
  padding: 1.875rem;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: relative;
}
.top-news__link::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: #a8b2c0;
  z-index: 1;
  -webkit-clip-path: inset(0% 90% 0% 0%);
          clip-path: inset(0% 90% 0% 0%);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

@media (any-hover: hover) {
  .top-news__link:hover .top-news__meta {
    -webkit-transform: translateX(0.3125rem);
            transform: translateX(0.3125rem);
  }
  .top-news__link:hover .top-news__text {
    -webkit-transform: translateX(0.3125rem);
            transform: translateX(0.3125rem);
  }
  .top-news__link:hover::after {
    -webkit-clip-path: inset(0% 0% 0% 0%);
            clip-path: inset(0% 0% 0% 0%);
    opacity: 0.4;
  }
}
.top-news__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  gap: 1.5rem;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  position: relative;
  z-index: 2;
}

.top-news__date {
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #31363a;
}
@media screen and (max-width: 767px) {
  .top-news__date {
    font-size: 0.875rem;
  }
}

.top-news__category {
  display: inline-block;
  padding: 2px 26px;
  padding: 0.125rem 1.625rem;
  background-color: #184473;
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .top-news__category {
    font-size: 0.875rem;
    padding: 0.125rem 1.25rem;
  }
}

.top-news__text {
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #31363a;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .top-news__text {
    font-size: 0.875rem;
  }
}

.top-recruit {
  position: relative;
  margin-bottom: 180px;
  margin-bottom: 11.25rem;
  background-color: #fff;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .top-recruit {
    padding: 3.75rem 0;
  }
}

.top-recruit__inner {
  position: relative;
}

@-webkit-keyframes slider {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-50% - 0.75rem));
            transform: translateX(calc(-50% - 0.75rem));
  }
}

@keyframes slider {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-50% - 0.75rem));
            transform: translateX(calc(-50% - 0.75rem));
  }
}
.top-recruit__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  gap: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation: slider 30s linear infinite;
          animation: slider 30s linear infinite;
}

.top-recruit__image {
  width: 782px;
  width: 48.875rem;
  aspect-ratio: 782/642;
}

.top-recruit__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.top-recruit__content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.top-recruit__content-wrap {
  max-width: 1210px;
  max-width: 75.625rem;
  padding: 45px 25px;
  padding: 2.8125rem 25px;
  margin-inline: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-recruit__content-inner {
  background-color: #184473;
  max-width: 516px;
  max-width: 32.25rem;
  padding: 84px 74px;
  padding: 5.25rem 4.625rem;
}

.top-recruit__title-en {
  font-family: "Barlow", sans-serif;
  font-size: 90px;
  font-size: 5.625rem;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .top-recruit__title-en {
    font-size: 3.75rem;
  }
}

.top-recruit__title-jp {
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  margin-top: 8px;
  margin-top: 0.5rem;
}
.top-recruit__title-jp::after {
  background: white;
}
@media screen and (max-width: 767px) {
  .top-recruit__title-jp {
    font-size: 0.875rem;
  }
}

.top-recruit__text {
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: #fff;
  margin-top: 50px;
  margin-top: 3.125rem;
}
@media screen and (max-width: 767px) {
  .top-recruit__text {
    font-size: 0.875rem;
    line-height: 1.8;
    margin-top: 1.875rem;
  }
}

.top-recruit__button {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-recruit__button span:first-child {
  color: #fff;
}

.top-contact {
  position: relative;
  z-index: 3;
}

.top-contact__inner {
  max-width: 1130px;
  max-width: 70.625rem;
  padding: 0 25px;
  margin-inline: auto;
}

.top-contact__wrap {
  background-color: #d3e1f0;
  padding: 72px 337px 72px 80px;
  padding: 4.5rem 21.0625rem 4.5rem 5rem;
  position: relative;
}

.top-contact__image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 257px;
  width: 16.0625rem;
}

.top-contact__title-wrap {
  margin-bottom: 55px;
  margin-bottom: 3.4375rem;
}

.top-contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  gap: 1.875rem;
}

.top-contact__text {
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #31363a;
}

.top-contact__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
  gap: 0.875rem;
  padding: 14px 30px;
  padding: 0.875rem 1.875rem;
  min-width: 330px;
  min-width: 20.625rem;
  background-color: #184473;
  border-radius: 2.5rem;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  .top-contact__button {
    padding: 0.75rem 3.75rem;
    gap: 0.625rem;
  }
}
@media (any-hover: hover) {
  .top-contact__button:hover {
    opacity: 0.8;
  }
}

.top-contact__button span:first-child {
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .top-contact__button span:first-child {
    font-size: 1.125rem;
  }
}

.top-contact__arrow {
  display: block;
  width: 10px;
  width: 0.625rem;
  height: 12px;
  height: 0.75rem;
  background-color: #fff;
  -webkit-mask-image: url("../images/top/arrow2.svg");
          mask-image: url("../images/top/arrow2.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
}
/*# sourceMappingURL=styles.css.map */
