@use 'global' as *;

// ====================================
// FV
// ====================================

.fv {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: rem(750);
  overflow: hidden;
  max-height: rem(850);
  margin-bottom: rem(130);
  padding-bottom: rem(30);
}

.fv__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - rem(100));
  background: linear-gradient(90deg, #184473 2.813%, #20476a 49.961%, #225c70 97.109%);
}

.fv__svg {
  position: absolute;
  top: rem(-67);
  left: rem(-77);
  transform: rotate(-30deg);
  aspect-ratio: 863/416;
  width: 70%;
  z-index: 1;
}

.fv__inner {
  position: relative;
  display: flex;
  max-width: rem(1290);
  padding: 0 var(--padding-pc);
  margin-inline: auto;
  align-items: flex-end;
  gap: rem(50);
  height: 100%;
}

.fv__content {
  margin-bottom: rem(140);
  flex-grow: 1;
  width: 20%;
  position: relative;
  z-index: 2;
}

.fv__title {
  font-family: var(--en-font), var(--jp-font);
  font-size: rem(64);
  font-weight: var(--bold);
  line-height: 1.2;
  color: var(--white);
  @include mq {
    font-size: rem(40);
  }
}

.fv__title-line {
  display: block;
}

.fv__subtitle {
  font-family: var(--barlow-font);
  font-size: rem(16);
  font-weight: var(--bold);
  line-height: 1;
  color: #eff6fb;
  margin-top: rem(10);
}

.fv__images {
  width: 60%;
  gap: rem(24);
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fv__image {
}

.fv__image--01 {
  aspect-ratio: 418/658;
}

.fv__image--02 {
  aspect-ratio: 418/653;
  transform: translateY(rem(-37));
}

// ====================================
// TOP MESSAGE
// ====================================

.top-message {
  margin-bottom: rem(180);
}

.top-message__inner {
}

.top-message__title-wrap {
  margin-bottom: rem(80);
}

.top-message__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: rem(50);
}

.top-message__text-wrap {
  width: rem(402);
}

.top-message__text {
  font-family: var(--jp-font);
  font-size: rem(16);
  font-weight: var(--regular);
  line-height: 2;
  color: #31363a;
}

.top-message__text:not(:first-child) {
  margin-top: rem(50);
}

.top-message__images {
  width: 50%;
  flex-grow: 1;
}

.top-message__image {
}

.top-message__image--01 {
  margin-left: auto;
  aspect-ratio: 540/405;
  width: rem(540);
  position: relative;
  z-index: 1;
}

.top-message__image--02 {
  margin-top: rem(-195);
  aspect-ratio: 357/290;
  width: rem(357);
  position: relative;
  z-index: 2;
}

// ====================================
// TOP COMPANY
// ====================================

.top-company {
  position: relative;
  margin-bottom: rem(180);
}

.top-company::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: rem(-300);
  aspect-ratio: 554/704;
  width: rem(554);
  background-image: url('../images/top/company-graf.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.top-company__inner {
  position: relative;
  z-index: 2;
}

.top-company__title-wrap {
  margin-bottom: rem(80);
}

.top-company__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(60);
}

.top-company__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(32);
  flex: 0 0 auto;
  width: rem(440);
  counter-reset: number 0;
  position: relative;
}

.top-company__list::before {
  content: '';
  position: absolute;
  bottom: rem(-50);
  left: 0;
  aspect-ratio: 640/220;
  width: rem(640);
  background-image: url('../images/top/company-dec.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.top-company__item {
  position: relative;
  z-index: 2;
}

.top-company__link {
  padding: rem(10) 0;
  display: flex;
  gap: rem(55);
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &::before {
    counter-increment: number 1;
    content: '0' counter(number);
    font-family: var(--jp-font);
    font-size: rem(20);
    font-weight: var(--regular);
    line-height: 2;
    color: #444950;
    width: fit-content;
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: rgb(201, 201, 201);
    }
  }
}

.top-company__label {
  width: 50%;
  flex-grow: 1;
  font-family: var(--jp-font);
  font-size: rem(20);
  font-weight: var(--regular);
  line-height: 2;
  color: #31363a;
}

.top-company__arrow {
  display: block;
  width: rem(18);
  aspect-ratio: 16/11;
  background-color: #444950;
  mask-image: url('../images/top/arrow.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.top-company__image {
  width: rem(558);
  aspect-ratio: 558/633;
}

// ====================================
// TOP SERVICE
// ====================================

.top-service {
  margin-bottom: rem(180);
}

.top-service__inner {
}

.top-service__title-wrap {
  margin-bottom: rem(80);
}

.top-service__content {
}

.top-service__tabs {
  gap: rem(5);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.top-service__tab {
  padding: rem(24) rem(30);
  background-color: #d3e1f0;
  border-radius: rem(10) rem(10) 0 0;
  font-family: var(--jp-font);
  font-size: rem(24);
  font-weight: var(--medium);
  line-height: 1;
  color: #31363a;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  @include mq {
    font-size: rem(16);
    padding: rem(16) rem(20);
    flex-shrink: 0;
  }
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.top-service__tab--active {
  background-color: #184473;
  color: var(--white);
}

.top-service__panel {
  display: none;
  background-color: #184473;
  padding: rem(100) 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.top-service__panel--active {
  display: block;
  & .top-service__panel-inner {
    animation: fadeIn 0.5s ease-in-out;
  }
}

.top-service__panel-inner {
  max-width: rem(1130);
  padding: 0 var(--padding-pc);
  margin-inline: auto;
}

.top-service__panel-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: rem(70);
}

.top-service__text-wrap {
  max-width: rem(485);
}

.top-service__title {
  font-family: var(--jp-font);
  font-size: rem(36);
  font-weight: var(--medium);
  line-height: 1.5;
  color: var(--white);
}

.top-service__text {
  font-family: var(--jp-font);
  font-size: rem(16);
  font-weight: var(--regular);
  line-height: 2;
  color: var(--white);
  margin-top: rem(50);
}

.top-service__button {
  justify-content: flex-end;
}

.top-service__image {
  width: rem(524);
  aspect-ratio: 524/422;
}

// ====================================
// TOP NEWS
// ====================================

.top-news {
  margin-bottom: rem(180);
  background-color: var(--white);
  @include mq {
    padding: rem(80) 0 rem(100);
  }
}

.top-news__inner {
  max-width: rem(1100);
  padding: 0 var(--padding-pc);
  margin-inline: auto;
  @include mq {
    max-width: rem(600);
    padding: 0 var(--padding-sp);
  }
}

.top-news__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: rem(160);
}

.top-news__texts {
  width: rem(220);
}

.top-news__title-wrap {
  margin-bottom: rem(96);
}

.top-news__button {
  display: inline-flex;
  align-items: center;
  gap: rem(10);
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.top-news__button span:first-of-type {
  color: #31363a;
}

.top-news__list {
  width: 50%;
  flex-grow: 1;
}

.top-news__item {
  border-bottom: 1px solid #a8b2c0;
}

.top-news__item:last-child {
  border-bottom: none;
}

.top-news__link {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  padding: rem(30);
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.top-news__meta {
  display: flex;
  align-items: center;
  gap: rem(24);
}

.top-news__date {
  font-family: var(--jp-font);
  font-size: rem(16);
  font-weight: var(--regular);
  line-height: 1;
  color: #31363a;
  @include mq {
    font-size: rem(14);
  }
}

.top-news__category {
  display: inline-block;
  padding: rem(2) rem(26);
  background-color: #184473;
  font-family: var(--jp-font);
  font-size: rem(16);
  font-weight: var(--regular);
  line-height: 1.5;
  color: var(--white);
  @include mq {
    font-size: rem(14);
    padding: rem(2) rem(20);
  }
}

.top-news__text {
  font-family: var(--jp-font);
  font-size: rem(16);
  font-weight: var(--regular);
  line-height: 1.5;
  color: #31363a;
  @include mq {
    font-size: rem(14);
  }
}

// ====================================
// TOP RECRUIT
// ====================================

.top-recruit {
  position: relative;
  margin-bottom: rem(180);
  background-color: var(--white);
  overflow: hidden;
  @include mq {
    padding: rem(60) 0;
  }
}

.top-recruit__inner {
  position: relative;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - rem(12)));
  }
}

.top-recruit__images {
  display: flex;
  gap: rem(24);
  width: fit-content;
  animation: slider 30s linear infinite;
}

.top-recruit__image {
  width: rem(782);
  aspect-ratio: 782/642;
}

.top-recruit__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.top-recruit__content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.top-recruit__content-wrap {
  max-width: rem(1210);
  padding: rem(45) var(--padding-pc);
  margin-inline: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.top-recruit__content-inner {
  background-color: #184473;
  max-width: rem(516);
  padding: rem(84) rem(74);
}

.top-recruit__title-wrap {
}

.top-recruit__title-en {
  font-family: var(--barlow-font);
  font-size: rem(90);
  font-weight: var(--medium);
  line-height: 1.2;
  color: var(--white);
  @include mq {
    font-size: rem(60);
  }
}

.top-recruit__title-jp {
  font-family: var(--jp-font);
  font-size: rem(16);
  font-weight: var(--regular);
  line-height: 1.4;
  color: var(--white);
  margin-top: rem(8);
  &::after {
    background: white;
  }
  @include mq {
    font-size: rem(14);
  }
}

.top-recruit__text {
  font-family: var(--jp-font);
  font-size: rem(16);
  font-weight: var(--regular);
  line-height: 2;
  color: var(--white);
  margin-top: rem(50);
  @include mq {
    font-size: rem(14);
    line-height: 1.8;
    margin-top: rem(30);
  }
}

.top-recruit__button {
  justify-content: flex-end;
}

.top-recruit__button span:first-child {
  color: var(--white);
}

// ====================================
// TOP CONTACT
// ====================================

.top-contact {
  position: relative;
  z-index: 3;
}

.top-contact__inner {
  max-width: rem(1130);
  padding: 0 var(--padding-pc);
  margin-inline: auto;
}

.top-contact__wrap {
  background-color: #d3e1f0;
  padding: rem(72) rem(337) rem(72) rem(80);
  position: relative;
}

.top-contact__image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: rem(257);
}

.top-contact__title-wrap {
  margin-bottom: rem(55);
}

.top-contact__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(30);
}

.top-contact__text {
  font-family: var(--jp-font);
  font-size: rem(16);
  font-weight: var(--regular);
  line-height: 1.5;
  color: #31363a;
}

.top-contact__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(14);
  padding: rem(14) rem(30);
  min-width: rem(330);
  background-color: #184473;
  border-radius: rem(40);
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  @include mq {
    padding: rem(12) rem(60);
    gap: rem(10);
  }
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.top-contact__button span:first-child {
  font-family: var(--jp-font);
  font-size: rem(24);
  font-weight: var(--regular);
  line-height: 1.4;
  color: var(--white);
  @include mq {
    font-size: rem(18);
  }
}

.top-contact__arrow {
  display: block;
  width: rem(10);
  height: rem(12);
  background-color: var(--white);
  mask-image: url('../images/top/arrow2.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
