@use 'global' as *;

.top-news {
  padding: rem(100) 0 rem(180);
  background-color: var(--white);
  @include mq {
    padding: rem(80) 0 rem(100);
  }
}

.top-news__inner {
}

.top-news__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @include mq {
    flex-direction: column;
    align-items: flex-start;
    gap: rem(30);
  }
}

.top-news__title-wrap {
  padding-left: rem(5);
  @include mq {
    padding-left: 0;
  }
}

.top-news__button {
  display: inline-flex;
  align-items: center;
  gap: rem(10);
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.top-news__button span:first-child {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  line-height: 1;
  color: #31363a;
  @include mq {
    font-size: rem(14);
  }
}

.top-news__button-icon {
  display: block;
  width: rem(56);
  height: rem(56);
  border-radius: 50%;
  background-color: #1d7699;
  position: relative;
  @include mq {
    width: rem(44);
    height: rem(44);
  }
}

.top-news__button-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(12);
  height: rem(12);
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: translate(-40%, -50%) rotate(45deg);
  @include mq {
    width: rem(10);
    height: rem(10);
  }
}

.top-news__list {
  margin-top: rem(80);
  @include mq {
    margin-top: rem(50);
  }
}

.top-news__item {
  border-bottom: 1px solid #d3d3d3;
}

.top-news__item:first-child {
  border-top: 1px solid #d3d3d3;
}

.top-news__link {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  padding: rem(30);
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  @include mq {
    padding: rem(20);
    gap: rem(16);
  }
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.top-news__meta {
  display: flex;
  align-items: center;
  gap: rem(24);
  @include mq {
    gap: rem(16);
  }
}

.top-news__date {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  line-height: 1;
  color: #31363a;
  @include mq {
    font-size: rem(14);
  }
}

.top-news__category {
  display: inline-block;
  padding: rem(2) rem(26);
  background-color: #184473;
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  line-height: 1.5;
  color: var(--white);
  @include mq {
    font-size: rem(14);
    padding: rem(2) rem(20);
  }
}

.top-news__text {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  line-height: 1.5;
  color: #31363a;
  @include mq {
    font-size: rem(14);
  }
}
