@use 'global' as *;

.top-message {
  padding: rem(180) 0 rem(100);
  background-color: var(--white);
  @include mq {
    padding: rem(100) 0 rem(60);
  }
}

.top-message__inner {
}

.top-message__title-wrap {
  padding-left: rem(5);
  @include mq {
    padding-left: 0;
  }
}

.top-message__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: rem(80);
  gap: rem(50);
  @include mq {
    flex-direction: column;
    margin-top: rem(50);
    gap: rem(40);
  }
}

.top-message__text-wrap {
  flex: 0 0 auto;
  max-width: rem(405);
  @include mq {
    max-width: 100%;
  }
}

.top-message__text {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  line-height: 2;
  color: #31363a;
  @include mq {
    font-size: rem(14);
    line-height: 1.8;
  }
}

.top-message__text:not(:first-child) {
  margin-top: rem(50);
  @include mq {
    margin-top: rem(30);
  }
}

.top-message__images {
  display: flex;
  gap: rem(30);
  flex: 1;
  justify-content: flex-end;
  @include mq {
    flex-direction: column;
    gap: rem(20);
  }
}

.top-message__image {
  border-radius: rem(8);
  overflow: hidden;
}

.top-message__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.top-message__image--01 {
  width: rem(357);
  height: rem(290);
  margin-top: rem(114);
  @include mq {
    width: 100%;
    height: rem(250);
    margin-top: 0;
  }
}

.top-message__image--02 {
  width: rem(540);
  height: rem(405);
  @include mq {
    width: 100%;
    height: rem(300);
  }
}

