@use 'global' as *;

.mv {
  position: relative;
  height: 100vh;
}

.mv__inner {
  position: relative;
  z-index: 2;
  padding: 0 rem(50);
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-inline: auto;
  @include mq {
    max-width: rem(600);
    padding: 0 $padding-sp;
  }
}

.mv__text {
  text-align: right;
  margin-left: auto;
  margin-bottom: rem(50);
}

.mv__title {
  font-size: rem(44);
  letter-spacing: 0.1em;
  font-weight: 400;
  margin-bottom: rem(16);
  font-family: var(--second-font-family);
}

.mv__copy {
  font-family: var(--third-font-family);
  font-size: rem(24);
  letter-spacing: 0.05em;
}

.mv__image {
  position: absolute;
  inset: 0;
  z-index: 1;
}
