@use 'global' as *;

// ====================================
// LOADER
// ====================================

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #184473 0%, #468ea8 100%);
  z-index: 1000;
  display: grid;
  place-content: center;
}

.loader__logo {
  aspect-ratio: 91/55;
  width: rem(150);
}

.loader__logo svg * {
  transform-origin: center;
  transform-box: fill-box;
}

.rect {
  // stroke: #ffffff;
}

// GSAPでアニメーションを制御するため、CSSアニメーションは削除
// 初期状態を設定
.rect-1,
.rect-2,
.rect-3 {
  stroke: #184473;
  transform-origin: center;
}

.text,
.text-top {
  opacity: 0;
}

.js-section-title-en {
}

.js-section-title-jp {
  position: relative;
  --clip: inset(0% 100% 0% 0%);
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: rem(-10);
    left: 0;
    height: 1px;
    background: linear-gradient(90deg, #184473 0%, #468ea8 100%);
    clip-path: var(--clip);
  }
}

.js-parallax-x {
  overflow: hidden;
  img {
    width: calc(100% + rem(30));
    max-width: unset;
  }
}
