@use 'global' as *;

.footer {
  margin-top: rem(-160);
  background: linear-gradient(90deg, #184473 2.813%, #20476a 49.961%, #225c70 97.109%);
  padding: rem(260) 0 rem(80);
  @include mq {
    padding: rem(60) 0 rem(50);
  }
}

.footer__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: rem(80);
  @include mq {
    flex-direction: column;
    gap: rem(50);
  }
}

.footer__logo {
  width: rem(150);
  aspect-ratio: 150/90;
}

.footer__nav {
  display: flex;
  gap: rem(204);
  @include mq {
    flex-direction: column;
    gap: rem(40);
  }
}

.footer__nav-column {
  display: flex;
  flex-direction: column;
  gap: rem(36);
  @include mq {
    gap: rem(24);
  }
}

.footer__nav-title {
  font-family: var(--jp-font);
  font-size: rem(16);
  font-weight: var(--medium);
  line-height: 1.4;
  color: var(--white);
  @include mq {
    font-size: rem(14);
  }
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: rem(14);
  padding-left: rem(17);
  @include mq {
    padding-left: rem(14);
    gap: rem(12);
  }
}

.footer__nav-list--single {
  padding-left: 0;
  gap: rem(20);
  @include mq {
    gap: rem(16);
  }
}

.footer__nav-item {
}

.footer__nav-link {
  font-family: var(--jp-font);
  font-size: rem(14);
  font-weight: var(--regular);
  line-height: 1.4;
  color: var(--white);
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  @include mq {
    font-size: rem(12);
  }
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}
