@use 'global' as *;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(10) $padding-pc rem(10) $padding-pc;
  margin-inline: auto;
}

.header__logo {
  aspect-ratio: 90/54;
  width: rem(90);
}

.header__nav {
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: rem(40);
}

.header__nav-item {
}

.header__nav-link {
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.header__nav-link-en {
  font-family: var(--en-font);
  font-size: rem(20);
  font-weight: var(--medium);
  line-height: 1.25;
  color: var(--white);
  white-space: nowrap;
  display: block;
}

.header__nav-link-jp {
  font-family: var(--jp-font);
  font-size: rem(12);
  font-weight: var(--regular);
  line-height: 1.4;
  color: var(--white);
  white-space: nowrap;
  display: block;
}
